@import "../../styles/colors.scss";

:host {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  height: 100vh;

  box-sizing: border-box;
  padding: 0.5em;
}

button {
  display: block;
  box-sizing: border-box;
  padding: 1em 2em;

  background-color: $blue;
  border: 2px solid $blue;
  border-radius: 5px;
  color: $white;
  font-weight: bold;
  cursor: pointer;

  &:active {
    background-color: $blue-l;
    color: $blue;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr {
  box-sizing: border-box;
  margin-bottom: 0.25em;
  border-bottom: 2px solid $grey;

  &[class*="header"] {
    background-color: $blue-l;
  }

  &[class*="success"] {
    background-color: $green;
  }

  &[class*="fail"] {
    background-color: $red;
  }
}

th, td {
  box-sizing: border-box;
  padding: 0.5em;
}

#results {
  flex-grow: 1;

  overflow-y: auto;
}

#actions {
  flex: 0 0 auto;

  box-sizing: border-box;
  padding: 0.5em;
}
