<div id="menu">
  <select class="intents" (change)="onSelectedIntent($event)">
    <option value=""> </option>
    <option *ngFor="let i of intents" [value]="i.id" [selected]="i.name === selectedIntent.name">{{i.name}}</option>
  </select>
</div>

<div id="situations">
  <app-situation *ngFor="let s of displayedSituations" [data]="s"></app-situation>
</div>

<div id="actions">
  <button class="primary" (click)="onCreateSituation()"> New situation </button>

  <div id="actions-pages">
    <button class="primary" (click)="onPreviousPage()"> < </button>
    <div style="padding: 0 5px; text-align:center;">
      <div *ngIf="totalPages === 0"> 0 / 0 </div>
      <div *ngIf="totalPages !== 0"> {{page + 1}} / {{totalPages}} </div>
      <div> ({{displayedSituations.length}} situations) </div>
    </div>
    <button class="primary" (click)="onNextPage()"> > </button>
  </div>

  <button class="secondary" (click)="onGetUserSays()"> Get User Says </button>
</div>
