@import "../../styles/colors.scss";

:host {
  display: flex;
  flex-flow: column;
  flex-grow: 1;

  box-sizing: border-box;
  padding: 0.5em;
}

button {
  box-sizing: border-box;
  padding: 1em 2em;

  background-color: $blue;
  border: 2px solid $blue;
  border-radius: 5px;
  color: $white;
  font-weight: bold;
  cursor: pointer;

  &:active {
    background-color: $blue-l;
    color: $blue;
  }
}

input
{
  width: 80%;
  box-sizing: border-box;
  padding: 1em;
  margin: 0 0.25em;

  background-color: $transparent;
  border: none;
  border-bottom: 2px solid $grey;

  &:focus {
    border-bottom: 2px solid $blue;
  }
}

#information {
  flex-grow: 1;

  overflow-y: auto;
}

#actions {
  flex: 0 0 auto;

  box-sizing: border-box;
  padding: 0.5em;
}
